@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
  --font-mono: "Roboto Mono", monospace;
}

body {
  font-family: "Roboto Mono", monospace;
}
svg {
  overflow: visible;
}

#headOverskrift {
  font-size: 2.5rem;
}

#sideTag {
  font-size: 1.9rem;
}

/* ----- Cases------- */
.cases-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 8rem; /* plads til header */
  padding-bottom: 4rem;
}

.case-card {
  position: relative;
  width: 32%;
}

.case-left {
  margin-right: 32%;
}
.case-right {
  margin-left: 32%;
}

.case-card:not(:first-child) {
  margin-top: -15rem; /* juster dette tal til dit overlap */
}

.case-card:nth-child(1) {
  z-index: 1;
}
.case-card:nth-child(2) {
  z-index: 2;
}
.case-card:nth-child(3) {
  z-index: 3;
}
.case-card:nth-child(4) {
  z-index: 4;
}
.case-card:nth-child(5) {
  z-index: 5;
}

.case-platform {
  width: 100%;
  display: block;
}
.case-left {
  left: auto;
  right: -10px;
}

.case-right {
  right: auto;
  left: -10px;
}
